
/*************** 
  Allgemein
****************/

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  margin: 12px;
  margin-top: 0px;
}

table {
  Xborder-collapse: collapse;
  border-spacing: 0px; 
}
td {
  padding: 0px;
}

.smooth-scroll-area {
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    .smooth-scroll-area {
        scroll-behavior: auto;
    }
}


/* ----------------- */
/* Link-Formatierung */
/* ----------------- */
/*
[href] {
  text-decoration: none;
  color: hsl(0, 40%, 30%);
}
[href]:hover,
[href]:focus {
  color: hsl(16, 100%, 45%);

[href]:active
[href]:link
[href]:visited

td.MyLinkFormat: hover {}
td class="MyLinkFormat"
}  
*/

[href] {
  text-decoration: none;
  /* color: hsl(0, 40%, 30%); immer braun */
}

[href]:focus,
[href]:hover {
  background: hsl(220, 100%, 97%);   /* hellblau */
  color: hsl(16, 100%, 45%);         /* orange   */
}  

}
[href]:visited {
  color: hsl(220, 100%, 55%);   /* mittelblau */
}
[href]:active {
  color: hsl(0, 40%, 30%);
}
[href]:link {
  color: hsl(230, 100%, 35%);   /* dunkelblau */
}

/*
[href]:link {
  color: hsl(220, 100%, 25%);
}

[href]:visited {
  color: hsl(16, 100%, 25%);
}
*/

/*
  background: #f7f8f9;
  background: #f0f0f0;
  background: #b2b2be;
*/
/* font-style: italic; */



/*  
justify-content: 
center;
start;
end;
space-evenly;
space-around;
space-between;

justify-items: ;

align-content: 
center;
flex-start;
flex-end;
space-evenly;
space-around;
space-between;

align-items: center;

justify-self:
align-self:
place-self (justify-self = align-self)
*/


div.kleingrau, 
td.kleingrau {
  color: grey;
  font-size: smaller;
}
div.mitte {
  text-align: center;
}
div.rechts {
  text-align: right;  
}


div.file-navi,
div.detail-navi {
  display: grid;
  grid-template-rows: min-content;
  justify-content: end;
  justify-items: ;
  align-content: ;
  align-items: center;
  gap: 1em;
  padding: 12px;
  text-wrap: nowrap;  
  border: 1px solid hsl(220, 100%, 95%);
  background: hsl(0, 0%, 98%);
}

div.file-head,
div.detail-head {
  display: grid;
  grid-template-rows: min-content;
  justify-content: ;
  justify-items: ;
  align-content: ;
  align-items: center;
  gap: 1em;
  font-weight: bold;
  text-wrap: nowrap; 
}
div.file-head,
div.file-foot,
div.detail-head,
div.detail-foot {
  padding: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 0px solid hsl(220, 100%, 100%);
  border-bottom: 0px solid hsl(220, 100%, 100%);
  text-align: left;
  background: hsl(220, 100%, 95%);
}



/*************** 
  file.php
****************/

/* 
1em = 16px, 1pc.(pica), 1/6 in.(inch) 
min-width -> MobileFirst
Breakpoints:
Small sm =< 576px 36em
Medium md =< 768px 48em
Large lg =< 992px 62em
Extra Large xl =< 1200px 75em
Extreme Large XXL =< 1400px 87.5em
orientation: landscape|portrait

tab.amalia 37×60 / 592×960
S20.ultra 23×48 / 368×768
*/


/* handy + tab.hoch */
@media (max-width: 61em) {
body.file-grid {
  max-width: 100dvw;
  min-height: 98vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  justify-content: stretch;
  justify-self: ;
  justify-items: ;
  align-content: ;
  align-self: ;
  align-items: flex-start;
  margin: 0px 6px;
}}


/* 40em, 640px */
@media (min-width: 62em) and (orientation: landscape){
body.file-grid {
  max-width: 100dvw;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  justify-content: center;
  justify-self: ;
  justify-items: ;
  align-content: space-between;
  align-self: ;
  align-items: flex-start;
}}

div.file-navi-top {
  grid-template-columns: 1fr 1fr;  
  gap: 0px;
}
div.file-head {
  grid-template-columns: auto;
  justify-content: center;
}

div.file-main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 0px 0px;
  justify-content: center;
  justify-self: ;
  justify-items: center;
  align-content: ;
  align-self: ;
  align-items: flex-start;
}
div.file-aside {

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 24px 6px;
  justify-content: start;
  justify-self: ;
  justify-items: center;
  align-content: ;
  align-self: stretch;
  align-items: flex-start;

  text-wrap: nowrap;  
  border: 1px solid hsl(220, 100%, 95%);
  background: hsl(0, 0%, 98%);
}

@media (min-width: 50em){
div.file-center-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 24px 0px;
  justify-content: center;
  justify-self: ;
  justify-items: ;
  align-content: ;
  align-self: ;
  align-items: flex-start;
}}

/* Tabelle */
table.data, 
th.head-cell, 
td.data-cell {
  padding: 6px;
  border-bottom: 1px solid hsl(0, 0%, 97%);
  border-collapse: collapse;
  /*text-wrap: nowrap;*/
}
table.data {
  border-top:    2px solid hsl(0, 0%, 50%);
  border-bottom: 2px solid hsl(0, 0%, 50%);
  width: 95%;
}

tr.head-row {
  position: sticky;
  top: 0px;
  color: black;
  /* background: #d9edf7;  hellblau */
  background: hsl(220, 100%, 95%);
  background: hsl(0, 15%, 95%);
}
th.head-cell {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid hsl(0, 0%, 50%);
  text-align: left;
}

tr.row-body {
  text-decoration: none;
}
tr.row-body:nth-child(even) { /* Zebrastreifen, gerade Zeilen: dunklerer Hintergrund */
  background-color: hsl(0, 0%, 97%);
  color: #000;
}
tr.row-body:focus,  
tr.row-body:hover {           /* Zeile hervorheben beim Rüberfahren */
  background-color: hsl(220, 100%, 96%);
  background-color: hsl(0, 0%, 93%);
}

form {
  margin: 0;
  text-wrap: nowrap;
  font-family: monospace;
}



/*************** 
  Detail.php
****************/

div.detail-navi-top {
  grid-template-columns: auto min-content;
}
div.detail-navi-bottom {
  grid-template-columns: 1fr 1fr 1fr;
}

div.detail-head {  
  grid-template-columns: 1fr 1fr 1fr;
}

div.detail-head {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: ;
  align-content: ;
  align-items: center;
  gap: 1em;
  font-weight: bold;
  text-wrap: nowrap; 
}

div.detail-row-body{}
div.detail-val{
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-wrap: nowrap; 
}

div.detail-thumb {
  padding: 1px; 
  border: 1px solid hsl(0, 0%, 92%);
  background-color: hsl(0, 0%, 98%);

  align-self: center; 
  justify-self: center; 
  text-align: center; 
}

div.detail-thumb_akt {
  align-self: center; 
  justify-self: center; 
  padding: 1px; 
  border: 1px solid hsl(220, 100%, 75%);
  background-color: hsl(0, 0%, 98%);
  text-align: center; 
  text-wrap: nowrap;
}

div.detail-pic {
  padding: 6px;
  border: 1px solid hsl(220, 100%, 85%);
  background-color: hsl(0, 0%, 98%);
}

div.detail-thumb:hover,
div.detail-pic:hover {
  border: 1px solid hsl(220, 100%, 85%);
  background-color: hsl(220, 100%, 98%);
}

div.detail-thumb_akt a:hover,
div.detail-thumb a:hover,
div.detail-pic a:hover {
  background: revert;
  background: initial;
}


@media (max-width: 29em) {
body.detail-grid {
  max-width: 100dvw;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  justify-content: center;
  justify-self: ;
  justify-items: ;
  align-content: space-between;
  align-self: ;
  align-items: flex-start;
}}
@media (min-width: 30em) {
body.detail-grid {
  max-width: 100dvw;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  justify-content: center;
  justify-self: ;
  justify-items: ;
  align-content: space-between;
  align-self: ;
  align-items: flex-start;
}}

@media (max-width: 29em) {
div.detail-center-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  gap: 0.5em;
  padding: 12px;
}}
@media (min-width: 30em){
div.detail-center-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 24px 12px;
  justify-content: ;
  justify-self: ;
  justify-items: center;
  align-content: ;
  align-self: ;
  align-items: flex-start;
}}

div.detail-center-grid-left {
}
div.detail-center-grid-right {
}
div.detail-kat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 0.5em;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-items: ;
  align-items: ;
}
div.detail-thumb-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
  padding: 0.5em;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-items: center;
  align-items: center;
}



/******************
  navi_stamps.php
*******************/

.navi-top {
  padding-bottom: 12px;
}

/* Dropdown-Formulare */
/* id */
#formX {
  padding-left: 8px;
}
#form-dd {
  font-family: monospace; 
  text-align: right;
}

#navi-link {
  text-decoration: none;
}


table.navi, 
td.back, 
td.site, 
td.for, 
td.dd, 
td.last {
  padding: 1px;
  border: 0;
  border-collapse: collapse;  
  text-wrap: nowrap;
}

table.navi {
  width: ;
}
td.back {
  padding-left: 3em;
  width: ;
}
td.site {
  width: ;
}
td.for {
  width: ;
}
td.dd {
  width: ;
}
td.last {
  width: ;
}

/*
.navi tr > *:nth-child(1) {
  width: ;
}
.navi tr > *:nth-child(2) {
  width: ;
}
.navi tr > *:nth-child(3) {
  width: ;
}
.navi tr > *:nth-child(4) {
  width: ;
}
.navi tr > *:nth-child(5) {
  width: 50%;
}
*/
/*
.navi tr > * {}
.navi tr > td + td {
  width: ;
}
.navi tr > td +td + td {
  width: ;
}
.navi tr > td +td + td + td {
  width: ;
}
.navi tr > td +td + td + td + td {
  width: 30%;
}
*/
